<!DOCTYPE html>
<html>
  <head>
    <title>Gallery</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    

  </head>

  <body>
  	<div class="center">
    
  <div class="text center">
  	<div class="widget center">
        <%= yield %>
    </div>
</div>
</div>
  </body>
</html>